# Blacklist everything
*

# Whitelist directories
!/src
!/workingDir

# Whitelist the files to include
!/src/*.cpp
!/src/*.h
!/src/*.pro

!*/workingDir/*.simp
!*/workingDir/*.obj

!.gitignore